body { 
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 1em;
  margin: 0 auto;
  max-width: 50em;
  color: #14191d; 
}

h1 {
  font-size: 24px;
}
b { 
  color: #0c0f12;
 }
h2 {
  font-size: 21px;
}
h3 {
  font-size: 18px;
}

a { 
    border-bottom: 3px solid #56a0d3;
    text-decoration: none;
    color: inherit;
  }

.please { 
 text-align: center;
 }

footer { 
  font-size: 12px;
  text-align: center;
   }

.date { 
  color: #acacac;
 }

.bmo { 
  line-height: 1.5;
 }

 .bmo ul { 
list-style: none;
  }

  .bmo li { 
list-style: none;
    margin-bottom: 2rem;
  }

.post_navigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.post_navigation .left {
  float: left;
}

.post_navigation .right {
float: right;
}




