h1 {
    font-family:times,Times New Roman,times-roman,georgia,serif;
    color:#333;
    margin:0;
    padding:0 0 6px;
    font-size:51px;
    line-height:54px;
    letter-spacing:-2px;
    font-weight:700;
    text-align:center
}

h2 {
    font-family:Gill Sans,Verdana;
    font-size:21px;
    line-height:24px;
    letter-spacing:2px;
    font-weight:bolder;
    text-transform:uppercase;
    color:#000;
    text-align:center
}

h3 {
    font-family:Gill Sans,Verdana;
    font-size:18px;
    line-height:21px;
    letter-spacing:2px;
    font-weight:lighter;
    text-transform:uppercase;
    color:#000
}

h4 {
    font-family:Gill Sans,Verdana;
    font-size:16px;
    line-height:20px;
    letter-spacing:2px;
    font-weight:lighter;
    text-transform:uppercase;
    color:#000
}

.shaq {
    max-width:none;
    margin:0;
    padding:0
}


.bellybutton {
    background-color:#F90;
    font-size:18px;
    font-family:Gill Sans,Verdana;
    letter-spacing:2px;
    font-weight:bolder;
    color:#fff;
    text-decoration:none;
    padding:20px;
    width:75%;
    border-radius:3px;
    display:block;
    margin-left:auto;
    margin-right:auto
}

.buttonbelly {
    background-color:#56a0d3;
    font-size:18px;
    font-family:Gill Sans,Verdana;
    letter-spacing:2px;
    font-weight:bolder;
    color:#fff;
    text-decoration:none;
    padding:20px;
    width:75%;
    border-radius:3px;
    display:block;
    margin-left:auto;
    margin-right:auto
}

.rasheedwallace { 
    max-width:700px;
    padding:4em;
    margin-left: auto;
    margin-right: auto;
}

.jerrystackhouse { 
    max-width:540px;
    padding:1em;
    margin-left: auto;
    margin-right: auto;
}

img.hotdogs {
    display:block;
    margin-left:auto;
    margin-right:auto
}

img.myface {
    width:150px;
    height:150px;
    margin-left:auto;
    margin-right:auto;
    display:block
}

.unc {
    background-color:#56a0d3;
    margin-left:auto;
    margin-right:auto;
    padding:1em
}

a {
  font-family: Gill Sans, Verdana;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
  letter-spacing:2px;
  text-decoration:none;
  border-bottom:2px solid #56a0d3;
}

.gus {
    font-family:Gill Sans,Verdana;
    font-size:18px;
    line-height:21px;
    letter-spacing:2px;
    font-weight:lighter;
    color:#fff;
    text-transform: none;
    border-bottom:1px solid #f90;
}

.devil {
    background-color:#666;
    padding:1em
}

#muggsybogues {
    font-family:Gill Sans,Verdana;
    font-size:18px;
    line-height:21px;
    letter-spacing:2px;
    font-weight:lighter;
    color:#fff;
    text-align: left;
}

#randolphchildress {
    font-family:Gill Sans,Verdana;
    font-size:16px;
    line-height:21px;
    letter-spacing:2px;
    font-weight:lighter;
    text-transform:lowercase;
    text-align:center;
    color:#eee
}

body {
  text-align: center;
  padding-top: 20px;  
  color: white;
  color: rgba(255,255,255,0.8);
  background-color: #323232;
  background: url(http://hotdogsandeggs.com/images/background-chalk.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
