<header>
<span>See more <a href="https://hotdogsandeggs.com/learn/">notes</a>.</span>
<nav class="post_navigation">
  {% if page.previous.url %}
    <a href="{{ page.previous.url }}" class="post_navigation left">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ page.next.url }}" class="post_navigation right">{{ page.next.title }} &raquo;</a>
  {% endif %}
</nav>
</header>
<footer class="footer" role="contentinfo">
		<br>
		<span class="date"> Last updated {{ site.time | date: "%B %d, %Y" }}</span>
		<br>
		<span>© 2014 - 2017</span>
</footer>
