// Navigation ———————————————————————————————— •
// ——————————————————————————————————————————— •

nav a {
  font-size: 18px;
  margin: 0 1.5em;
  text-decoration: none;
  &.active {
    color: $color-link-hover;
    padding-bottom: 4px;
    border-bottom: 2px solid $color-faded;
  }

}
.logo {
  display: inline-block;
  width: 160px;
  margin-left: 2em;
  margin-top: -1em;

}
.navigation {
  margin-bottom: 4em;

}
.navigation-links {
  float: right;
  margin-top: 3em;

}
.signin {
  font-weight: 700;

}
// Format logo and nav for small displays 

@media all and (max-width: 580px) {
  .navigation {
    margin-bottom: 2em;
  }
  .logo {
    display: block;
    float: left;
    width: 96px;
    margin-left: 6px;
  }
  .navigation-links a {
    font-size: 12px;
    margin: 0.35em;
  }
  .navigation-links {
    float: right;
    margin-top: 0;
  }

}
// Navigation: Desktop ——————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(768px) {
  .navigation {
    max-width: 1140px;
  }
}
