<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">

    <title>Dale Carnegie | Homeboy</title>
    <meta content=
    "A collection of all 30 Dale Carnegie principles in one place, one at a time."
    name="description">
    <meta content="Chris Gallo" name="author">
    <meta content="Dale Carnegie is my homebody." name="title">
        <!-- styles -->
    <link href="{{ .Site.BaseURL }}css/dale.css" rel="stylesheet" type="text/css">
    <!-- end styles -->
    <!-- food favicon -->
    <link href="{{ .Site.BaseURL }}images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- end food favicon -->
    <!-- java -->
    <script src="{{ .Site.BaseURL }}js/carnegie.js" type="text/javascript" ></script>
    <!-- end java -->
</head>
<body>