// About ————————————————————————————————————— •
// ——————————————————————————————————————————— •

.about {
  margin-bottom: 4em;
  h1 {
    text-align: center;
  }
  hr {
    width: 32px;
    border: solid $color-link;
    border-width: 2px 0 0;
  }
  p {
    font-size: 18px;
  }

}
// About: Desktop ———————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(768px) {
  .about {

  }
}
