// Home —————————————————————————————————————— •
// ——————————————————————————————————————————— •

// ——————————————————————————————————
// Logo, Nav, & header
// ——————————————————————————————————


// Hide logo and nav on large displays

@media all and (min-width: 580px) {
  .home .navigation {
    display: none;
  }

}

// Format logo and nav for small displays

@media all and (max-width: 580px) {
  .logo {
    display: block;
    float: left;
    width: 96px;
    margin-left: 6px;
  }
  .navigation-links a {
    font-size: 12px;
    margin: 0.35em;
  }
  .navigation-links {
    float: right;
    margin-top: 0;
  }

}

// Hide latest update and format signin button on small displays

@media all and (max-width: 580px) {
  .home .latest,
  .signin-button {
    display: none;
  }

}


// CTA

.welcome {
  margin-top: 80px;
  padding-left: 12px;
  text-align: center;
  h1 {
    font-size: 36px;
    color: $color-spot;
    line-height: 1.6;
  }
  .description {
    margin: 1em 0;
    font-size: 18px;
  }
  .home-logo {
    margin: 2em auto 1em;
    width: 200px;
  }
  .link-features {
    margin: 1em 0;
  }

}

